$font-family-page:"Jost", sans-serif;
body{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    overflow-x: hidden;
}
header{
    background: linear-gradient(to right, #A6AEC8,#46588E, #041D65);
    font-family: $font-family-page;
    @mixin nav($theme: rgba(247, 242, 242, 0.934)){
        position: fixed;
        background: linear-gradient(to right,  rgb(166, 174, 200, 0.3),rgb(70, 88, 142, 0.3), rgb(4, 29, 101, 0.3));
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100px;
        z-index: 1000;
    }
    
    @mixin img($theme: #fff){
        width: 360px;
        height: 170px;
        padding-left: 100px;
        padding-bottom: 70px;
    }
    
    @mixin ul($theme: #fff){
        margin-top: 30px;
        margin-right: 70px;
        display: flex;
    }
    
    @mixin li($theme: #fff){
        display: flex;
        width: 105px;
        height: 40px;
    }
    
    @mixin lien($theme: #fff){
        color: $theme !important;
        &:hover{
            color: rgb(30, 0, 255) !important;
        }
    }
    
    @mixin lien-dernier($theme: #fff){
        color: $theme !important;
        &:hover{
            color: $theme !important;
        }
    }
    
    @mixin dernier($theme: #fff) {
        border: 2px solid rgb(7, 7, 105);
        border-radius: 35px;
        &:hover{
            color: #fff !important;
            background-color: #007BFF;
        }
    }
    
    
    nav{
        @include nav;
        img{
            @include img;
        }
        ul{
            @include ul;
            li{
                @include li;
                a{
                    @include lien;
                }
            }
            #last{
                @include dernier;
                a{
                    @include lien-dernier;
                    padding-top: -25px;
                    padding-left: 25px;
                }
            }
        }
    }

    
    @mixin section($theme: #fff){
        display: flex;
        justify-content: space-around;
        padding-top: 150px;
    }

    @mixin pdiv($theme: #fff){
        padding-left: 90px;
        width: 6    00px;
    }

    @mixin h1($theme: #fff){
        color: $theme;
        font-size: 60px;
    }

    @mixin h4($theme: #fff){
        color: $theme;
        font-size: 25px;
    }

    @mixin h5($theme: #fff){
        color: $theme;
        font-size: 25px;
    }

    @mixin img($theme: #fff){
        width: 550px;
        height: 500px;
        padding-right: 50px;
        padding-bottom: 35px;
        animation: bounce 4s infinite;
        @keyframes bounce {
            0%, 100% {
                transform: translateY(0);
            }
            20% {
                transform: translateY(-30px);
            }
            50% {
                transform: translateY(-15px);
            }
            80% {
                transform: translateY(-5px);
            }
        }
    }

    @mixin btn($theme: #007BFF){
        border: 1px solid ;
        border-radius: 35px;
        background-color: rgb(5, 5, 116);                       
        width: 150px;
        &:hover{
            background-color: $theme;
        }
        margin-bottom: 30px;
        margin-top: 15px;
    }

    @mixin link{
        text-decoration: none;
        color: #fff;
    }

    @mixin btn1($theme: rgba(255, 255, 255, 0)){
        background-color: $theme;
        border: none;
        font-size: 20px;
        margin-left: 25px;
        margin-top: 50px;
        margin-bottom: 50px;

    }

    @mixin icon{
        display: inline-block;
        width: 40px; 
        border: none;
        color: #333;
        font-size: 24px;
    }

    section{
        
        @include section;
        .div{
            @include pdiv;
            h1{
                @include h1;
            }
            h4{
                @include h4;    
            }
            h5{
                @include h5;
            }
            .btn{
                @include btn;
                a{
                    @include link;
                }
            }
            .btn1{  
                @include btn1;
                p{
                    @include icon;
                    i{
                        color: #fff;
                        &:hover{
                            color: blue; 
                        }
                        width: 60px;
                        height: 60px;
                    }
                }
                a{
                    @include link;
                }
            }
        }
        .image{
            img{
                @include img;
            }
        }
    }
}


// Section Services
#services{
    font-family: $font-family-page;
    color: #6c6b6b;
    background-color: #f3f5fa;
    padding-bottom: 120px;
    h1{
        font-size: 35px;
        color: #37517e;
        font-weight: 700;
    }
    .tiret{
        width: 100px;
        border-bottom: 1px solid gray;
        margin-left: 578px;
        margin-top: -40px;
        margin-bottom: 40px;
        .tiret-gras{
            width: 40px;
            border-bottom: 2px solid #37517e;
            margin: 0 auto;
        }
    }
    h4, .bi{
        color: #37517e;
        font-weight: 500;
    }
    .bi {
        font-size: 2em;
        margin-bottom: -90px;
    }
    
}
// section background-image
#background-img{
    background-image: url("IMAGES/cta-bg.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: scroll,scroll;
    color: white;
    .grandiant-linear{
        background: linear-gradient(rgba(0, 0, 0, 0.1),#0060c7);
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        .btn{
            background-color: transparent; 
            border: 2px solid white;
            width: 200px; 
            height: 50px; 
            color: white;
        }
        .btn:hover{
            background-color: #041d65; 
            border: 2px solid #041d65;
        }
        p{
            font-size: 18px;
        }
    }
}


// Section contact
#contact{
    h1{
        font-size: 35px;
        color: #37517e;
        font-weight: 700;
    }
    .tiret{
        width: 100px;
        border-bottom: 1px solid gray;
        margin-left: 578px;
        margin-top: -40px;
        margin-bottom: 40px;
        .tiret-gras{
            width: 40px;
            border-bottom: 2px solid #37517e;
            margin: 0 auto;
        }
    }
    .contact-data{
        font-family: $font-family-page;
        margin-top: 40px;
        .c-data{
            display: flex;
            align-items: center;
            gap: 10px;
            margin-top: 20px;
            margin-left: 20px;
            .bi{
                width: 50px;
                height: 50px;
                border-radius: 50px;
                background-color: rgb(231, 245, 251);
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 25px;
            }
            p{
                color: #6182ba;
                strong{
                    color: #37517e;
                    font-size: 20px;
                }
            }
        }
    }
    .btn{
        background-color: #041d65; 
        height: 48px; 
        color: white;
    }
    .btn:hover{
        background-color: #0b42e8; 
    }
}
// Section Newsletter
.newsletter{
    background-color: #f3f5fa;
    height: 250px;
    padding-top: 45px;
    margin-bottom: 80px;
    font-family: $font-family-page;
    h3{
        color: #37517e;
    }
    form{
        position: relative;
        .inputNewsletter{
            width: 450px;
            height: 40px;
            border: none;
            border-radius: 50px;
    
            position: absolute;
            left: 50px;
            background-color: white;
        }
        .btn{
            background-color: #041d65; 
            width: 110px; 
            height: 40px; 
            color: white;
            position: absolute;
            left: 450px;
        }
        .btn:hover{
            background-color: #0b42e8; 
        }
    }
    
}

// footer
footer{
    font-family: $font-family-page;
    
    color: #5e5e5e;
    h3,h6{
        color: #37517e;
    }
    .liens-utiles, .nos-services{
        a{
            text-decoration: none;
            color: #5e5e5e;
            font-size: 15px;
            i{
                color: black;
                font-size: 10px;
                margin-top: 20px;
            }
        }
    }
    .social-media{
        display: flex;
        gap: 10px;
        .bi, .fa-brands{
            background-color: #041D65;
            color: white;
            width:37px;
            height:37px;
            border-radius: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .bi:hover, .fa-brands:hover{
            background-color: #3690ea;
        }
        
    }
    .footer-bande{
        background-color: #43517e;
        height: 80px;
        color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        a{
            color: #041D65;
            text-decoration: none;
        }
    }
}


@mixin p{
    border-bottom: 1px solid grey;
    width: 100px;
    margin: 0 auto;
}
@mixin p1{
    border-bottom: 2px solid #152659;
    width: 45px;
    height: 10px;
    margin: 0 auto;
}

@mixin btn{
    border: 2px solid #152659;
    color: #152659;
    padding: 10px;
    width: 150px;
    &:hover{
        color: #fff;
        background-color: #152659;
    }
}

@mixin imgs{
    width: 550px;
    height: 430px;
    margin-top: 50px;
    margin-left: 50px;
}
@mixin h($theme: #04478fde){
    color: $theme;
    font-size: 34px;
}
@mixin h2($theme: #0b3969de){
    color: $theme;
    font-size: 34px;
    font-weight: bold;
}

main{
    .apropos{
        font-family: $font-family-page;
        .container{
            margin-top: 60px;
            margin-bottom: 60px;
            .row{
                #titre{
                    margin-bottom: 30px;
                }
                .col{
                    h2{
                        @include h2;
                    }
                    .p{
                        @include p1;
                    }.p1{
                        @include p;
                    }
                    .btn{
                        @include btn;
                    }
                }
            }
        }
    }

    .proposition{
        background-color: #f3f5fa;
        font-family: $font-family-page;
        .row{
            .col{
                .contenu{
                    margin-left: 100px;
                    margin-top: 70px;
                    h6{
                        @include h;
                    }
                    p{
                        color: gray;
                    }
                    .accordion{
                        .accordion-item{
                            .accordion-header{
                                .accordion-button{
                                    background-color: transparent !important; 
                                    border: none !important;   
                                    &:focus{
                                        box-shadow: none !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
            img{
                @include imgs;
            }
        }
    }
}

