body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

header {
  background: linear-gradient(to right, #A6AEC8, #46588E, #041D65);
  font-family: "Jost", sans-serif;
}
header nav {
  position: fixed;
  background: linear-gradient(to right, #A6AEC8, #46588E, #041D65);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  z-index: 1000;
}
header nav img {
  width: 360px;
  height: 170px;
  padding-left: 100px;
  padding-bottom: 70px;
}
header nav ul {
  margin-top: 30px;
  margin-right: 70px;
  display: flex;
}
header nav ul li {
  display: flex;
  width: 105px;
  height: 40px;
}
header nav ul li a {
  color: #fff !important;
}
header nav ul li a:hover {
  color: rgb(30, 0, 255) !important;
}
header nav ul #last {
  border: 2px solid rgb(7, 7, 105);
  border-radius: 35px;
}
header nav ul #last:hover {
  color: #fff !important;
  background-color: #007BFF;
}
header nav ul #last a {
  color: #fff !important;
  padding-top: -25px;
  padding-left: 25px;
}
header nav ul #last a:hover {
  color: #fff !important;
}
header section {
  display: flex;
  justify-content: space-around;
  padding-top: 150px;
}
header section .div {
  padding-left: 90px;
  width: 6 0px;
}
header section .div h1 {
  color: #fff;
  font-size: 60px;
}
header section .div h4 {
  color: #fff;
  font-size: 25px;
}
header section .div h5 {
  color: #fff;
  font-size: 25px;
}
header section .div .btn {
  border: 1px solid;
  border-radius: 35px;
  background-color: rgb(5, 5, 116);
  width: 150px;
  margin-bottom: 30px;
  margin-top: 15px;
}
header section .div .btn:hover {
  background-color: #007BFF;
}
header section .div .btn a {
  text-decoration: none;
  color: #fff;
}
header section .div .btn1 {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-size: 20px;
  margin-left: 25px;
  margin-top: 50px;
  margin-bottom: 50px;
}
header section .div .btn1 p {
  display: inline-block;
  width: 40px;
  height: 50px;
  border: none;
  color: #333;
  font-size: 24px;
}
header section .div .btn1 p i {
  color: #fff;
  width: 60px;
  height: 60px;
}
header section .div .btn1 p i:hover {
  color: blue;
}
header section .div .btn1 a {
  text-decoration: none;
  color: #fff;
}
header section .image img {
  width: 550px;
  height: 500px;
  padding-right: 50px;
  padding-bottom: 35px;
  animation: bounce 4s infinite;
}
@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  20% {
    transform: translateY(-30px);
  }
  50% {
    transform: translateY(-15px);
  }
  80% {
    transform: translateY(-5px);
  }
}

#services {
  font-family: "Jost", sans-serif;
  color: #6c6b6b;
  background-color: #f3f5fa;
}
#services h1 {
  font-size: 35px;
  color: #37517e;
  font-weight: 700;
}
#services h4, #services .bi {
  color: #37517e;
  font-weight: 500;
}
#services .bi {
  font-size: 2em;
  margin-bottom: -90px;
}

#contact h1 {
  font-size: 35px;
  color: #37517e;
  font-weight: 700;
}

.newsletter {
  background-color: #f3f5fa;
  height: 250px;
  padding-top: 45px;
  margin-bottom: 80px;
  font-family: "Jost", sans-serif;
}
.newsletter h3 {
  color: #37517e;
}
.newsletter form {
  position: relative;
}
.newsletter form .inputNewsletter {
  width: 450px;
  height: 40px;
  border: none;
  border-radius: 50px;
  position: absolute;
  left: 50px;
  background-color: white;
}
.newsletter form .btn {
  background-color: #041d65;
  width: 110px;
  height: 40px;
  color: white;
  position: absolute;
  left: 450px;
}

footer {
  font-family: "Jost", sans-serif;
  color: #5e5e5e;
}
footer h3, footer h6 {
  color: #37517e;
}
footer .liens-utiles a, footer .nos-services a {
  text-decoration: none;
  color: #5e5e5e;
  font-size: 15px;
}
footer .liens-utiles a i, footer .nos-services a i {
  color: black;
  font-size: 10px;
  margin-top: 20px;
}
footer .social-media {
  display: flex;
  gap: 10px;
}
footer .social-media .bi, footer .social-media .fa-brands {
  background-color: #041D65;
  color: white;
  width: 37px;
  height: 37px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .social-media .bi:hover, footer .social-media .fa-brands:hover {
  background-color: #3690ea;
}
footer .footer-bande {
  background-color: #43517e;
  height: 80px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .footer-bande a {
  color: #041D65;
  text-decoration: none;
}

/*# sourceMappingURL=style.css.map */
